html 
  scroll-behavior: initial

html, body 
  position relative
  width: 100%
  min-height: 100%


.section_title-outline 
  position: relative
  -webkit-text-fill-color: transparent
  -webkit-text-stroke: 2px white !important


.section_title-outline::after 
  /* Place a second copy of the same text over top */
  content attr(data-text)
  position absolute
  left 0
  -webkit-text-stroke 0
  pointer-events none


.section_title-leaf 
  position relative
  -webkit-text-fill-color transparent
  -webkit-background-clip text



.contact_bg_mask 
  -webkit-mask-image url(https://uploads-ssl.webflow.com/636a3cc0e8123382bf004c5d/63734d310109ae243167976d_logo-big.svg)
  -webkit-mask-repeat no-repeat
  -webkit-mask-position center
  -webkit-mask-size 50%

.hero_navbar
  top @css{min(8vh, 110px)}

.hero_info
  top 45%

.hero_cta
  bottom @css{min(6vh, 2000px)}

.contact_bg_video 
  width 100vw
  height 100vh


.hero_video2
  opacity .7
  z-index 0
  clip-path polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
  &::after
    position absolute
    content ''
    width 100%
    height 100%
    bottom 0
    background-color #000
    z-index 1
    // transform-origin bottom !important

/* .word {
  overflow: hidden;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
  transform-origin: bottom;
} */

// /* .line {
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//   padding-bottom: 0.2em;
//   margin-bottom: -0.2em;
// } */

.lineParent 
  overflow hidden
  padding-bottom 0.2em
  margin-bottom -0.2em
.hero_copyW
  overflow: hidden

.work_title
  
  // background #333
.section_title-leaf
  // background-attachment fixed
  // -webkit-transform none !important